body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background: #ddc192 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* scroll bar styles */
::-webkit-scrollbar {
  width: 4px;
}


::-webkit-scrollbar-track {
  background: white;
}


::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}




/* Loading indicator styles */
.lds-hourglass {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10w;
  height: 10vw;
}


.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  box-sizing: border-box;
  border: 5vw solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}




/* page styles  */
ul {
  list-style-type: none;
}

.main-video{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 0;
}

.social-media > a > svg{
  width: 4em;
  height: 4em;
}

.navbar{
  background: #ddc192 !important; 
}

.sr-only{
  font-weight: bold;
}

.main-text{
  z-index: 1;
  position: absolute;
  top: 20%;
  left: 5%;
  color: #ddc192;
}

.main-slogan{
  z-index: 1;
  position: absolute;
  top: 30%;
  left: 3%;
  width: 5em;
  font-size: 1.3em;
  color: white;
}

.header-text{
  color: black;
  font-size: 3em;
  font-weight: bold;
}

.description-wrapper{
  width: 80vw;
  margin-left: 10vw;
  align-self: center;
}

.description-text{
  font-size: 1.5em;
}

.input-div{
  margin-top: 16vh;
  width: 80vw;
  margin-left: 10vw;
  background: white;
  border-radius: 2vw;
}

.input-element{
  background: black;
  margin-top: 5vh;
  width: 40vw;
  margin-left: 20vw;
  border-radius: 1vw;
  font-size: 3vh;
  color: white;
}

.login-button{
  background: darkblue;
  width: 40vw;
  border-width: 0.2vw;
  border-radius: 1vw;
  border-style: solid;
  margin-left: 20vw;
  color: white;
  font-size: 4vh;
  margin-bottom: 5vh;
}

.login-button:hover{
  background: #d9534f;
}


.options-wrapper{
  display: flex;
  justify-content: center;
}

.admin-border{
  border-radius: 0.4em;
  border-style: solid;
}

.admin-content-wrapper{
  background : #ddc192;
  width : 100%;
}

.add-item-div{
  background: #fff;
  width: 60vw;
}

.admin-button{
  width: 25vw;
  background: grey;
  color: white;
  font-size: 2em;
}


.admin-button.selected{
  background-color: #0d6efd;
}

.admin-button:hover{
  background: #0d6efd;
}

.item-buttons-div{
  /* todo: make responsive for smaller screens */
  display: flex;
  justify-content: center;

}

.item-input{
  width: 30vw;
  background: white;
  text-align: center;
}

.item-input::placeholder{
  text-align: center;
}

.admin-image-input-button{
  width: 30vw;
  background: gray;
  color: white;
}


/* animations */
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}